
nav{
	width: 100%;
}

section.tituloIndex{
	font-size: 100px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.imagenUnoIndex{
width: 100%;
height: auto;
margin-left: 1%;
margin-bottom: 80px;
margin-right: 2%;
}
.imagenDosIndex{
	width: 98%;
	height: auto;
	margin-left: 1.8%;
	margin-bottom: 80px;
	}

section.textoInferiorIndex{
	color: #363842;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	display: flex;
	flex-direction: row;
	text-align: justify;
	margin-left: -1%;
}


/* css para nosotros */

h1.tituloNosotros{
	color: #363842;
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	margin-left: 45%;
	margin-top: 35px;
}
h2.subtituloNosotros{
	color: #1e1e20;
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	margin-left: 25px;
}

h2.textoNosotros{
	color: #000000;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 2%;
	margin-right: 2%;
	text-align: justify;

}
.imagenNosotrosUno{
	height: 600px;
	width: 96%;
	margin-left: 30px;
	margin-top: 50px;
	
}
p.nosotrosUno{
	color: #000000;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 30px;
	margin-bottom: 35px;
}

.textoNosotrosMedio{
	color: #000000;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 31px;
	margin-right: 25px;
	text-align: justify;
	margin-bottom: 35px;
	margin-top: 35px;
}

.imagenNosotrosDos{
	height: 500px;
	width: 98%;
	margin-left: 18px;
	margin-right: 18px;
	margin-top: 35px;
}
p.nosotrosDos{
	color: #000000;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 16px;
	margin-bottom: 80px;
}

/* css para productos */

h1.productosTexto{
	color: #363842;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
}
section.loremProductos{
	color: #363842;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}




/* css para faq */

section.tituloFaq h1{
	color: #363842;
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	margin-left: 45%;
	margin-top: 35px;
}
.preguntasFrecuentes{
	margin-left: 1%;
	text-align: justify;
	margin-right: 1%;
	margin-bottom: 80px;
}
/* css para contacto */

h2.tituloContacto{
	color: #363842;
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	margin-top: 10%;
	margin-left: 18px;
	margin-bottom: 30px;
}
.textoContacto{
	color: #000000;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
}





.formularioContacto{
	margin-left: 20px;
}

.logoLeketsAbajo{
	margin-left: 20px;
	margin-bottom: 50px;
	
}
