
@media (max-width: 576px) and (min-width: 1px){
	.backgroundColor{
		background-color: green;
	}
}

@media (max-width: 768px) and (min-width: 577px){
	.backgroundColor{
		background-color: blue;
	}
}
@media (max-width: 992px) and (min-width: 769px){
	.backgroundColor{
		background-color: red;
	}
}
@media (max-width: 1200px) and (min-width: 993px){
	.backgroundColor{
		background-color:  purple;
	}
}
@media (max-width: 3000px) and (min-width: 1201px){
	.backgroundColor{
		background-color:  slategrey;
	}
}
nav{
	width: 100%;
}


.imagenUnoIndex{
width: 96%;
height: auto;
margin-left: 2%;
margin-bottom: 80px;
}
.imagenDosIndex{
	width: 100%;
	height: auto;
	margin-left: 2%;
	margin-bottom: 80px;
	}

section.textoInferiorIndex{
	color: #363842;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	display: flex;
	flex-direction: row;
	text-align: justify;

}

section.tituloIndex{
	font-size: 100px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
section.inferiorIndex{
	color: #ba1e1e;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-bottom: 80px;
}
/* css para nosotros */

h1.tituloNosotros{
	color: #363842;
	font-size: 80px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	margin-left: 45%;
	margin-top: 35px;
}
h2.subtituloNosotros{
	color: #1e1e20;
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	margin-left: 25px;
}

h2.textoNosotros{
	color: #000000;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 2%;
	margin-right: 2%;
	text-align: justify;

}
.imagenNosotrosUno{
	height: 600px;
	width: 96%;
	margin-left: 30px;
	margin-top: 30px;
	
}
p.nosotrosUno{
	color: #000000;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 30px;
	margin-bottom: 35px;
}

.textoNosotrosMedio{
	color: #000000;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 31px;
	margin-right: 25px;
	text-align: justify;
	margin-bottom: 35px;
}

.imagenNosotrosDos{
	height: 500px;
	width: 98%;
	margin-left: 18px;
	margin-bottom: 80px;
	margin-right: 18px;
	
}
p.nosotrosDos{
	color: #000000;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
	margin-left: 16px;
}

/* css para productos */

h1.productosTexto{
	color: #363842;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
}
section.loremProductos{
	color: #363842;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/* css para faq */

section.tituloFaq h1{
	color: #363842;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
	mar
}
/* css para contacto */

h1.tituloContacto{
	color: #363842;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Teko', sans-serif;
}

section.contactos.Texto{
	color: #6b6b70;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
}

section.contactosTexto p{
	color: #ff0000;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	font-family: 'Varela Round', sans-serif;
}

.logoLeketsAbajo{
	margin-left: 15px;
	margin-bottom: 50px;
	
}
